body {
	background-color: rgba(108, 16, 39, 1);
}

/*
 * Important for Internet Explorer 10, so touch events are consumed somewhere else 
 */
html, body {
	X-ms-content-zooming: none;
	Xoverflow: hidden;
	-ms-touch-action: none;
}