html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Droid Sans;
}

#sidebar {
    background-color: #303030;
    width: 300px;
    height: 100%;
    border-right: 1px solid black;
}

#scenarioDescription {
    padding: 300px 20px 0px;
    color: white;   
}

#scenarioDescription h1 {
    font-size: 20px;
}
#scenarioDescription p {
    font-size: 80%;
}

#scenarios {
    position: absolute;
    left: 301px; 
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0;
    transition: opacity 1s linear;
    height: 100%;
    box-sizing: border-box;
}

#scenarios .stage {
    position: relative;
    overflow: hidden;
    height: 100%;
}

#scenarios .stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#scenarios .stage canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#scenarios.on {
    opacity: 1;
}

#remotecontrol {
    top: 30px;
    left: 20px;
    position: absolute;
}