body {
	background: none;
	background-color: rgba(80, 80, 80, 1);
}

/*
 * For Internet Explorer 10, prevents zoom gesture in Metro mode.
 */
html, body {
	-ms-content-zooming: none;
	-ms-touch-action: none;
}

.touch {
    position: absolute;
    border: 1px solid white; 
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
    width: 40px;
    height: 40px;
    display: none;
}