body {
	background: none;
	background-color: rgba(80, 80, 80, 1);
    font-family: Droid Sans;
}

/*
 * For Internet Explorer 10, prevents zoom gesture in Metro mode.
 */
html, body {
	-ms-content-zooming: none;
	-ms-touch-action: none;
}

.touch {
    position: absolute;
    border: 1px solid white; 
    border-radius: 40px;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
    width: 80px;
    height: 80px;
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
}

.touch.on {
    opacity: 1;
}

#remotecontrol {
    xposition: relative;
    left: 50%;
    margin-left: -125px;
    margin-top: 100px;
    border: 10px solid gray;
}