/*
* SCENARIO 1
*/
.Scenario1.stage {
    background: radial-gradient(1000px 80px, #505050 0%, #202020 100%);
}

.Scenario1 .box {
    position: relative;
    background-color: rgba(224,220,140, 1); 
    width: 180px;
    height: 100px;
    margin: 20px;
    float: left;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
    transition-property: box-shadow, left, top, scale;
    transition-duration: 200ms;
}

.Scenario1 .box.focused {
    box-shadow: 14px 12px 20px 0px rgba(0, 0, 0, 0.4);
    left: -7px;
    top: -5px;
    outline: 2px solid white;
    transform: scale(1.2);
}

/*
* SCENARIO 2
*/

.Scenario2.stage {
    background-color: #024d70;
}

.Scenario2 .box {
    position: relative;
    padding: 10px;
    background-color: rgba(22,96,132, 1); 
    width: 180px;
    height: 140px;
    margin: 20px;
    float: left;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
    transition-property: box-shadow, left, top;
    transition-duration: 500ms;
    color: white;
}


.Scenario2 .box.selected {
    background-color: hsla(0, 0%, 100%, .2);
    outline: 1px solid white;
}

.Scenario2 .box.double {
    width: 420px;
}

/**
 * SCENARIO 3
 */
.Scenario3.stage {
    background-color: black;
    background: url(../images/bg.png);  
}

.Scenario3 .search {
    margin: 50px;
    height: 40px;
    padding: 4px;
    border: 1px solid gray;
    display: inline-block;
    background-color: rgba(30, 30, 30, 0.5);
}

.Scenario3 .search label {
    margin:2px 18px 2px 10px;
    color: gray;
}

.Scenario3 .search input {
    display: inline-block;
    border: 1px solid black;
    width: 250px;
    margin-right: 18px;
    font-size: 1em;
    line-height: 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.Scenario3 .photo {
    position: absolute;
}

.Scenario3 .photo img {
    box-shadow: 2px 2px 0px 2px rgba(0,0,0,0.5);
}

.Scenario3 .selected img {
    outline: 2px solid white;
}

.Scenario3 *:not(.selected) img {
    opacity: 0.9;
}

/*
* SCENARIO 4
*/
.Scenario4.stage {
    padding: 50px;
    xbackground-color: red;
    background: linear-gradient( hsl(0, 0%, 25%) 0%, hsl(0, 0%, 10%) 90%);
}

.Scenario4.stage div { 
    margin: 10px;
    border: 1px solid black;
}

.Scenario4.stage div.high {
    background-color: orange;
} 

/*
* SCENARIO 4
*/
.Scenario5.stage {
    padding: 50px;
    background-color: rgb(60, 60, 60);
    color: black;
    background-image: url(../images/xdv6hwv.png);
}

.Scenario5 .left {
    float: left;
    clear: left;   
}

.Scenario5 .left > * {
    float: left;
    clear: left;
}

.Scenario5 .right {
    float: right;
    clear: right;   
}

.Scenario5 .right > * {
    float: right;
    clear: right;
}

.Scenario5 div > table {
    width: 400px;
}

.Scenario5 .smalldata tr td:first-child {
    width: 100px;
}

.Scenario5.stage table th {
    vertical-align: top;
    text-align: left;
}

.Scenario5.stage td.sub {
    padding: 10px 0 5px 0;
}

.Scenario5 h1 {
    font-family: Courier, monospace;
}

.Scenario5 .orientationplane {
    display: none;
    position: relative; 
    left: 400px;
    top: 50px;
    -webkit-perspective: 600px;
    width: 200px;
    height: 200px;
}

.Scenario5 .orientationplane > div {
    -webkit-transform-style: preserve-3d;
    background-color: #303030;
}

.Scenario5 #EventList {
    position: absolute;
    top: 350px;
    float:left;
    clear:left;
    width: 50%;
}

.Scenario5 #EventList:before {
    content: 'Gesture History';
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.Scenario5 #EventList div {
    display: inline-block;
    padding: 5px;
    margin: 5px 5px 5px 0;
    border: 1px solid rgb(80, 80, 80);
    background-color: rgba(220, 220, 220, 0.5);
}

.Scenario5 #EventList div span {
    font-size: 10px;
    padding-left: 10px;
}